:host {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  width: 100%;
}

.container {
  box-shadow: var(--mat-sys-level3);
  padding: 16px;
  width: min(95vw, 500px);
}

.message {
  font: var(--mat-sys-body-medium);
  text-align: end;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block: 32px;
}
