:host {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
  align-items: center;
  gap: 1rem;
  grid-template-rows: 1fr 80vh 1fr;
  height: 100%;
  justify-content: center;
}

header {
  background: var(--mat-sys-surface-container);
  border-radius: 4px;
  grid-area: header;
  text-align: center;

  h1, p {
    margin: 0;
  }
}

app-chess-board {
  grid-area: main;
}

app-game-logs {
  align-self: flex-start;
  grid-area: aside;
  height: 50%;
  max-width: 400px;
}

footer {
  grid-area: footer;
}

.login {
  padding-block: 1rem;
}

