<header>
  @if (isAnonymous()) {
    <div class="login">
      <mat-form-field>
        <mat-label>Type your username...</mat-label>
        <input matInput type="text" [formControl]="usernameControl"/>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="usernameControl.invalid" (click)="joinGame()">Join</button>
    </div>
  } @else {
    <h1>Welcome {{ player()?.name }}</h1>
  }

  @if (opponentName(); as opponentName) {
    <p>You're playing against {{ opponentName }}</p>
  }
</header>

<app-chess-board/>

<app-game-logs/>

@if (gameStarted()) {
  <footer>
    <button mat-raised-button color="warn" (click)="leaveGame()">Leave</button>
  </footer>
}
