.grid {
  display: grid;
  grid-template-columns: auto repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr) auto;
  width: fit-content;
  pointer-events: none;
  opacity: 0.5;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.row-number, .column-labels {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.row-number {
  align-self: center;
  display: inline-flex;
  height: 90px;
  justify-content: center;
  padding-inline: 1rem;
  align-items: center;
}

.column-labels {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 2 / span 8;
  height: fit-content;
  justify-items: center;

  .column-letter {
    padding: 1rem;
  }
}

.cell {
  align-items: center;
  border: 1px solid var(--mat-sys-outline);
  display: flex;
  height: 90px;
  justify-content: center;
  width: 90px;
  text-transform: uppercase;

  &.selectable, &.move, &.capture {
    cursor: pointer;
  }

  &.selectable:hover {
    background-color: var(--mat-sys-secondary-container);
  }

  &.white {
    background-color: var(--mat-sys-surface-container-highest);
  }

  &.black {
    background-color: var(--mat-sys-surface-container-lowest);
  }

  &.active {
    background-color: var(--mat-sys-primary-container);
  }

  &.capture {
    background-color: var(--mat-sys-error-container);
  }

  &.move {
    background-color: var(--mat-sys-tertiary-container);
  }
}

.figure {
  border-radius: 4px;
  padding: 0.25rem;

  &.white, &.black {
    border: 2px solid var(--mat-sys-outline);
    color: var(--mat-sys-on-surface);
  }

  &.white {
    background: var(--mat-sys-surface-container-highest);
  }

  &.black {
    background: var(--mat-sys-surface-container-lowest);
    border-color: var(--mat-sys-outline-variant);
  }
}
