<div class="grid" [class.active]="active()">
  @if (rows(); as rows) {
    @for (row of rows; track $index) {
      <span class="row-number">{{ row.index }}</span>
      @for (cell of row.cells; track $index) {
        <div
          class="cell"
          [ngClass]="cell.modifierClasses()"
          (click)="onCellClick(cell)"
        >
          @if (cell.occupiedBy(); as occupiedBy) {
            <img
              alt="Piece"
              height="50"
              width="50"
              [ngSrc]="occupiedBy.iconName"
            />
          }
        </div>
      }
    }

    <div class="column-labels">
      @for (letter of letters; track letter) {
        <span class="column-letter">{{ letter }}</span>
      }
    </div>
  } @else {
    <p>Please, log in to start the game</p>
  }
</div>
