<div class="grid">
  @for (row of rows(); track $index) {
    <span class="row-number">{{ row.index }}</span>
    @for (cell of row.cells; track $index) {
      <div class="cell" [ngClass]="cell.color">
        @if (cell.occupiedBy) {
          <span class="figure" [ngClass]="cell.occupiedBy.color">{{ cell.occupiedBy.name }}</span>
        }
      </div>
    }
  }

  <div class="column-labels">
    <span class="column-letter">A</span>
    <span class="column-letter">B</span>
    <span class="column-letter">C</span>
    <span class="column-letter">D</span>
    <span class="column-letter">E</span>
    <span class="column-letter">F</span>
    <span class="column-letter">G</span>
    <span class="column-letter">H</span>
  </div>
</div>
