.grid {
  display: grid;
  grid-template-columns: auto repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: fit-content;
}

.row-number {
  align-self: center;
  background: cornflowerblue;
  display: inline-flex;
  height: 90px;
  justify-content: center;
  padding-inline: 1rem;
  align-items: center;
}

.column-labels {
  background: cornflowerblue;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 2 / span 8;
  height: fit-content;
  justify-items: center;

  .column-letter {
    padding: 1rem;
  }
}

.cell {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 90px;
  justify-content: center;
  width: 90px;
  text-transform: uppercase;

  &.white {
    background-color: lightgray;
  }

  &.black {
    background-color: black;
  }
}

.figure {
  border-radius: 4px;
  padding: 0.25rem;

  &.white {
    background: #eeeeee;
    border: 1px solid black;
    color: black;
  }

  &.black {
    background: #333333;
    border: 1px solid lightgray;
    color: white;
  }
}
