<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="mat-headline-6">Game Logs</mat-card-title>
  </mat-card-header>
  <mat-card-content class="scrollable">
    <mat-list>
      @for (log of logs(); track $index) {
        <mat-list-item lines="2">
          <span class="message" matListItemTitle [innerHTML]="log.message"></span>
          <span matListItemMeta>{{ log.timestamp | date : 'HH:mm:ss' }}</span>
        </mat-list-item>
        @if (!$last) {
          <mat-divider/>
        }
      }
    </mat-list>
  </mat-card-content>
</mat-card>
