<header>
  @if (isAnonymous()) {
    <div class="login">
      <input placeholder="Type your username..." type="text" [formControl]="usernameControl"/>
      <button [disabled]="usernameControl.invalid" (click)="joinGame()">Join</button>
    </div>
  } @else {
    <h1>Welcome {{ loggedAs() }}</h1>
  }

  @if (opponent(); as opponent) {
    <p>You're playing against {{ opponent }}</p>
  }
</header>

<app-chess-board [playerColor]="playerColor()"/>

<app-game-logs/>

@if (isPlaying()) {
  <footer>
    <button (click)="leaveGame()">Leave</button>
  </footer>
}
