:host {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

header {
  background: cornflowerblue;
  border-radius: 4px;
  grid-area: header;
  margin-block: 0.5rem;
  padding: 1rem;
  text-align: center;

  h1, p {
    margin: 0;
  }
}

app-chess-board {
  grid-area: main;
}

app-game-logs {
  grid-area: aside;
  height: 100%;
}

footer {
  grid-area: footer;
}

.login {
  padding-block: 1rem;
}

