
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: dark light;
  @include mat.theme((
    color: (
      theme-type: color-scheme,
      primary: mat.$azure-palette,
      secondary: mat.$spring-green-palette,
      accent: mat.$cyan-palette,
      tertiary: mat.$yellow-palette,
    ),
    typography: 'Roboto',
    density: 0,
  ));
}
